<div class="page-wrapper">
  <div class="user-list">
    <div id="mt">
      <% @except_current.each do |user| %>
        <% if user.photo.attached? %>
          <div class="flex-column">
            <%= cl_image_tag user.photo.key %>
            <%= user.first_name %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="messages-container">
    <div class="chatroom">
      <p>bonjour</p>
    </div>
    <div class="form">
      <!-- Add message form here -->
      <p>Form Here</p>
    </div>
  </div>
</div>
