.content-space {
  padding: 3% 100px 7%;
  z-index: 1;
  background-color: white;
}

.content-space-color {
  padding: 3% 20px 7%;
  z-index: 1;
  // background-color: cornflowerblue;
}

.searchbar-spacer {
  padding: 5% 20px 7%;
}

.flex{
  display: flex;
}
