

.first-section {
  display: flex;
  flex-direction: row;
}





// Alexis
//
// .wrapper-event{
//   padding: 60px;
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-template-areas:
//   "a b"
//   "c c"
//   "d d";
// }
// //
// // section {
// //   grid-area: a;
// // }
//
// .row {
//   grid-area: b;
//   padding-top: inherit;
// }

// #map {
//   grid-area: c;
// }

.chatroom-container {
  grid-area: d;
}
