

// .flex-row {
//   display: flex;
//   flex-direction: row;
// }

// .flex-col {
//   display: flex;
//   flex-direction: column;
// }

// .back-home {
//   display: flex;
//   margin: 40px 0 -20px;
// }

.booked-user-container {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    width: 100%;

      .avatar-event {
        position: initial;
        margin-right: 6px;
        z-index:0;
      }
}


// Alexis
//
// .wrapper-event{
//   padding: 60px;
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-template-areas:
//   "a b"
//   "c c"
//   "d d";
// }
// //
// // section {
// //   grid-area: a;
// // }
//
// .row {
//   grid-area: b;
//   padding-top: inherit;
// }

// #map {
//   grid-area: c;
// }

.chatroom-container {
  grid-area: d;
}
