// Specific CSS for your home-page

.d-none {
  display: none;
}

.body-container {
  min-height: 100vh;
  transition: transform 600ms ease;
}

.navbar{
  // transform: translateX(-100%);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100%;

  .navbar ul {
    display: flex;
  }

  .navbar li {
    margin-right: 12px;
    cursor: pointer;
  }
}

#toggle-out {
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 650px;
}


.menu-container {
  position: fixed;
  min-height: 100vh;
  top: 0;
  width: 100%;
  right: 0;
  transform: translate3d(100%, 0, 0);
  transition: transform 600ms ease;
}

.menu-open {
  .body-container {
    transform: translate3d(-40vw, 0, 0);
  }

  .menu-container {
    transform: translate3d(calc(100% - 40vw), 0, 0);
  }

//section 1
.body {
  background-color: white;
}
.home-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4% 5%;
}
.home-img-logo {
  z-index: 0;
}
.img_home {
  width: 400px;
}

//Section 2
.feature-presentation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4% 5%;
}

.img_feature_home {
  width: 300px;
}

.feature-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.feature-title {
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.feature-description {
  font-size: 16px;
}

#people {
  width: 400px;
}
#left {
  margin-top: -20px;
}

#middle {
  margin-top: 20px;
}

#right {
  margin-top:-20px;
}

// Section 3

.logo-brand {
  max-width: 150px
}
