.menu-wrapper-event {
  color: #6C63FF;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25vh;
  left: 3vw;


    ul {
      list-style-type: none;
      padding: 0;
      padding-left: 10px;
      margin-top: 20px;
    }

    li a {
      text-decoration: none;
    }
}

.menu-wrapper-user {
  color: #6C63FF;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25vh;
  left: 3vw;

    ul {
      list-style-type: none;
      padding: 0;
      padding-left: 10px;
      margin-top: 20px;
    }

    li a {
      text-decoration: none;
    }
}
