<% @my_events.each do |my_event| %>
  <ul class="list-inline mb-0">
    <li class="list-inline-item">
      <%= my_event.event.name %>
    </li>
    <li class="list-inline-item">
      <% if policy(my_event).show? %>
        <%= link_to event_path(my_event.event) do %><i class="fas fa-eye m-0"></i><% end %>
      <% end %>
    </li>
    <li class="list-inline-item">
      <% if policy(my_event).update? %>
        <%= link_to booking_path(my_event), method: :patch do %><i class="fas fa-user-minus"></i><% end %>
      <% end %>
    </li>
  </ul>
<% end %>
