<div class="menu-wrapper-event d-none">
  <h2>Events</h2>
  <ul>
    <li><%= link_to "Create an event", new_event_path %></li>
    <li><%= link_to "List of events", events_path %></li>
  </ul>
</div>
