<div class="menu-wrapper-event d-none">
  <h2>Évènements</h2>
  <ul>
    <li><%= link_to "Créer un évènement", new_event_path %></li>
    <li><%= link_to "Liste des Evenements", events_path %></li>
  </ul>
</div>
