<% @events.each do |event| %>

  <div class="card-event">

    <%= link_to event_path(event) do %>
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path event.photo.attached? ? event.photo.key : "https://res.cloudinary.com/drzg8kw0k/image/upload/v1611342995/4hux27613gnhmjimg612mls9chi0.jpg" %>')">
      <%= event.name %>
      </div>
    <% end %>

    <div class="card-info">
      <a href="#" class="tag-card">Pétanque</a>
      <img class="avatar-event-first" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
      <img class="avatar-event-second" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
      <img class="avatar-event-third" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
      <p>+300 personnes y participent</p>
    </div>

  </div>
<% end %>
