<h1>index Event</h1>

<div class="container">
  <% @events.each do |event| %>
    <div class="card-event">
      <%= link_to event_path(event) do %>
          <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <%= event.name %>
          </div>

            <div class="card-info">
              <a href="#" class="tag-card">Pétanque</a>
              <img class="avatar-event-first" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
              <img class="avatar-event-second" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
              <img class="avatar-event-third" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
              <p>+300 personnes y participent</p>
            </div>
      <% end %>
    </div>
  <% end %>
</div>
