.card-event {
  height: 300px;
  width: 280px;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 9px 13px 5px rgba(108, 99, 255, 0.1);
  border-radius: 8px;
  border: 2px solid #6c63ff;
  text-align: center;
  margin: 34px;
  text-decoration: none;
}

.card-event:hover{
  box-shadow: 8px 9px 20px 10px rgba(108, 99, 255, 0.2);
  transform: 1.2;
}

.card-event a:hover {
  text-decoration: none;
}

.card-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  color: white;
  font-weight: bold;
  align-items: center;
  border-radius: 6px 6px 0 0;
    p {
      text-shadow: 1px 1px 2px black;
      line-height: normal;
      margin: 0;
    }
    .avatar-event {
      left: 131px;
    }
}

.card-image:hover {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.82);
}

.card-info {
  position: relative;
  display: flex;
  background-color: white;
  height: 75px;
  border-radius: 0 0 6px 6px;
}

.card-info p {
    top: 35px;
    position: absolute;
    left: 95px;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.card-product {
  overflow: hidden;
  height: 100px;
  background: #eeedff;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  position: relative;
  padding: 0;
  border-radius: 4px;
}

.card-product-ghost {
  overflow: hidden;
  height: 100px;
  background: white;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  position: relative;
  padding: 0;
  border-radius: 4px;
}

.icon-zone {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-product img {
  height: 100%;
  width: 100px;
  object-fit: cover;
  margin-right: 16px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-right: 40px;
}

.card-product .card-product-infos {
  padding: 16px;
  border: none;
}


.card-container {
  border: 1px solid lightgrey ;
}
