.card-event {
  height: 300px;
  width: 270px;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 9px 13px 5px rgba(108, 99, 255, 0.1);
  border-radius: 8px;
  border: 2px solid #6c63ff;
  text-align: center;
  margin: 10px;
}

.card-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  color: white;
  font-weight: bold;
  align-items: center;
  border-radius: 6px 6px 0 0;
;
}

.card-info {
  position: relative;
  display: flex;
  background-color: white;
  height: 75px;
  border-radius: 0 0 6px 6px;
}

.card-info p {
    top: 35px;
    position: absolute;
    left: 95px;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}
