.tag-card {
  position: absolute;
  top: -20px;
  right: 15px;
  background-color: #DFDDFF;
  color: #6c63ff;
  border-radius: 50px;
  padding: 9px 18px;
  font-weight: bold;
  text-decoration: none;
}

