.navbar-lewagon {
  justify-content: space-between;
  background: #221F53;
  padding: 10px 1%;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}